<h2>Be the first!</h2>

<p>
  Welcome to Stinky Cheese, the new cheese website where you're in control!
</p>

<p>
  Be the first to add a cheese to our cheese database. Just complete the sign up
  form on this page, then start adding cheeses. It's easy!
</p>

<p>
  Add all your favorites, then invite your friends to join and add theirs. Help us
  to build the world's best online cheese site. For cheese lovers everywhere.
</p>